{# Accounts table tbody - used for full tbody swap after cell edit #}
{% from "macros/table.html" import total_row %}
{% if error %}
<tr id="accounts-error-row">
    <td colspan="100" class="px-2 py-1 text-sm text-red-500 bg-red-50 dark:bg-red-950/40 border-b border-red-200 dark:border-red-800">
        {{ error }}
    </td>
</tr>
{% endif %}
{% if edit_mode %}
{% for account, row_cells in edit_rows %}
{% set row_index = loop.index0 %}{# passed to the include; `loop` itself isn't visible there #}
{% include "partials/accounts_row_display.html" %}
{% endfor %}
{% include "partials/accounts_row_add.html" %}
{% if rows %}
{{ total_row(rows[-1], [3, 4, 5, 6, 7, 8, 10, 11]) }}
{% endif %}
{% else %}
{% for account, row_cells in edit_rows %}
{% include "partials/accounts_row_view.html" %}
{% endfor %}
{% if rows %}
{{ total_row(rows[-1], [3, 4, 5, 6, 7, 8, 10, 11]) }}
{% endif %}
{% endif %}
